body{
    background-color: rgb(115, 115, 196);
    text-align: center;
    align-self: center;
}
p{
    font-size: 30px;
}
img{
    width: 900px;
    length:500px;
}
a:hover{
    text-decoration: none;
    color:aqua;

}
a:visited{
    color: blueviolet;
}
a:link{
    color:darkgoldenrod;
}
html{
    scroll-behavior: smooth;
}













